@import "compass/css3";
@import "compass/css3/user-interface";

//Colors
$icon-color: $color-green;
$color-white: #ffffff;
$img-bg-color: #e0dede;
$img-border-color: $color-grey-border;
$link-color: $color-green;
$text-color: $color-black;
$border-color: $color-grey-border;
$light-grey-color: #f2f2f2;
$disabled-text-color: #999;
$button-color: $color-green;

/* FORMS: Layout */

form {
  margin: 0; /*IE7*/
  max-width: 600px;
}

/* Main form building blocks */
label {
  display: block;
  padding-bottom: 0.35em;
}

/* --- Additional field wrapper classes --- */
.text-field-wrapper, .textarea-wrapper {
  padding-right: 14px; /*input padding+border, remove if border-box can be used*/
}

/* Icon on right side */
.icon-field-wrapper {
  padding-right: 48px;
  .icn-info {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: $color-white;
    text-align: center;
    background: $icon-color;
    @include border-radius(50%);
  }
}

/* Image selector */
.image-field-wrapper {
  width: 160px;
  overflow: hidden;
  img {
    display: block;
    max-width: 100%;
    border: 1px solid $img-border-color;
    background-color: $img-bg-color;
  }
  .link-upload {
    margin-top: 5px;
    float: left;
  }
  .link-remove {
    margin-top: 5px;
    float: right;
    color: $link-color;
  }
}

/* --- Fieldsets --- */
fieldset {
  position: relative;
  margin: 0 0 15px;
  padding: 49px 0 0;
  border: none;
  border-color: $color-white;
  &.no-legend {
    padding-top: 0;
  }
  &.check-radio-block {
    margin: 0;
    padding: 0;
  }
  &.check-radio-block legend span {
    position: static;
    padding-right: 0;
    padding-left: 0;
    color: $text-color;
    font-size: 14px;
    border: none;
  }
}

legend {
  position: static;
  margin: 0;
  padding: 0;
  font-weight: normal;
  span {
    /* Span inside legend - for best cross-browser compatibility */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 7px 0;
    color: $icon-color;
    font-size: 18px;
    line-height: 1em;
    border-bottom: 1px solid $img-bg-color;
  }
}

/* Checkboxes and Radio Groups */
.check-radio-block {
  label {
    display: inline-block;
    margin-right: 1em;
    padding-bottom: 0;
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
  }
  input {
    vertical-align: middle;
    margin: 0 0.5em 2px 0;
  }
}

/* --- Columns --- */
.fields-two-column, .fields-three-column, .fields-threequarter-column {
  margin: 0 -5px; /*half space between inputs*/
}

/* space between inputs */
.fields-two-column .form-col label, .fields-two-column .form-col .field-wrapper, .fields-three-column .form-col label,
.fields-three-column .form-col .field-wrapper, .fields-threequarter-column .form-col label, .fields-threequarter-column .form-col .field-wrapper {
  margin-right: 5px;
  margin-left: 5px;
}

/* two */
.fields-two-column {
  .form-col {
    float: left;
    width: 50%;
  }
  .ie7 & .form-col + .form-col {
    width: 49.98%;
  }
}

/* three */
.fields-three-column {
  .form-col {
    width: 34%;
    float: left;
  }
  .form-col + .form-col {
    width: 33%;
  }
  .ie7 & .form-col {
    width: 33.9%;
  }
  .ie7 & .form-col + .form-col {
    width: 33%;
  }
}

/* threequarter */
.fields-threequarter-column {
  .form-col {
    width: 50%;
    float: left;
  }
  .form-col + .form-col {
    width: 25%;
  }
  .ie7 & .form-col + .form-col {
    width: 24.98%;
  }
}

/* Button block  */
.button-block {
  padding-top: 15px;
  .btn-1 {
    margin-right: 6px;
  }
}

/* Short rows */
.short-row {
  max-width: 360px;
}

/* Horizontal Layout */
.form-horizontal {
  label, fieldset.check-radio-block legend span {
    margin: 0 20px -30px 0;
    padding: 4px 0;
    width: 160px;
    line-height: 22px;
    text-align: right;
  }
  .short-row {
    max-width: 550px;
  }
  .field-wrapper, .button-block {
    /* Space for label */
    margin-left: 190px;
  }
  .fields-two-column, .fields-three-column, .fields-threequarter-column {
    margin-left: 185px;
  }
  fieldset.check-radio-block legend {
    /* Checkboxes and Radio Groups */
    float: left;
  }
  .check-radio-block label {
    display: block;
    margin: 0;
    width: auto;
    text-align: left;
  }
  .fields-two-column label, .fields-three-column label,
  .fields-two-column .field-wrapper, .fields-three-column .field-wrapper {
    /* Form columns */
    margin-right: 5px;
    margin-left: 5px;
  }
  .fields-two-column label, .fields-three-column label {
    margin-bottom: 0;
    text-align: left;
    width: auto;
  }
}

/* ---------------------------------------------------------------------------------------------------
    $Form Elements
--------------------------------------------------------------------------------------------------- */
label[for], .checkbox-radio-block label {
  /* Show pointer for clickable labels */
  cursor: pointer;
}

label, .check-radio-block legend span {
  font-weight: $font-weight-normal;
  font-size: rem-calc(16px);
}

/* --- Input, Select, Textarea --- */
.field-wrapper {
  position: relative;
  margin-bottom: 20px;
  .text-field, textarea, select {
    display: block;
    width: 100%;
    padding: 3px 6px;
    height: 34px;
    line-height: 34px;
    border: 1px solid $border-color;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: $text-color;
    &:focus {
      /* Focus */
      border-color: $icon-color;
      box-shadow: 0 0 2px $icon-color inset;
      outline: none;
    }
    &[disabled] {
      /* Disabled */
      background-color: $light-grey-color;
      color: $disabled-text-color;
    }
  }
  select {
    option {
      padding: 4px 5px;
    }
    &:focus {
      background: url('/Content/styles/images/select-arrows.png') no-repeat, -webkit-linear-gradient(top, $color-white 0%, $color-white 100%, $color-white);
      background-position: 100% -48px;
    }
    &[disabled] {
      background: url('/Content/styles/images/select-arrows.png') no-repeat, -webkit-linear-gradient(top, $light-grey-color 0%, $light-grey-color 100%, $color-white);
      background-position: 100% -96px;
    }
    .ie7 & {
      position: relative;
      top: 4px;
    }
  }
  textarea {
    height: 82px;
    resize: none;
    line-height: 1.4;
  }
}

/* Replacement for input-field, when some details are not editable. Retains the same size and alignment as input-field, therefore does not break form layout. */
.not-editable.text-field {
  padding-left: 0;
  height: auto;
  line-height: 24px;
  border-color: transparent;
  @include box-shadow(none);
}

/* --- Buttons --- */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn-1, .btn-2 {
  display: inline-block;
  margin: 0;
  padding: 0px 30px;
  height: 30px;
  line-height: 30px;
  color: $color-white;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  @include box-sizing(border-box);
  &[disabled], &.disabled {
    opacity: 0.5;
    cursor: default;
    @include user-select(none);
  }
}

.btn-1 {
  background: $icon-color;
  border: 1px solid darken($icon-color, 12%);
  &:hover {
    background-color: lighten($icon-color, 2%);
    color: $color-white;
  }
  &[disabled] {
    &:hover, &:focus, &:active {
      background: $icon-color;
      border: 1px solid darken($icon-color, 12%);
    }
  }
}

.btn-2 {
  background: $button-color;
  border: 1px solid darken($button-color, 20%);
  &:hover {
    background-color: darken($button-color, 10%);
    color: $color-white;
  }
  &[disabled] {
    &:hover, &:focus, &:active {
      background: $button-color;
      border: 1px solid darken($button-color, 20%);
    }
  }
}

a {
  &.btn-1, &.btn-2 {
    text-decoration: none;
    .ie7 & {
      height: 28px;
      line-height: 27px;
    }

  }
}

/* ---------------------------------------------------------------------------------------------------
    $Validation & Error Messages
--------------------------------------------------------------------------------------------------- */
span {
  &.field-validation-error, &.field-validation-valid {
    position: absolute;
    top: 50%;
    right: 5px;
    margin: -10px 0 0;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background: url('/Content/Styles/images/icns-validation.png') no-repeat 2px 6px;
  }
  &.field-validation-error {
    background-color: $icon-color;
    background-position: 3px -34px;
    cursor: default;
    & > span {
      visibility: hidden;
      position: absolute;
      bottom: 100%;
      right: -5px;
      margin-bottom: 8px;
      z-index: 1;
      width: auto;
      height: auto;
      padding: 0 10px;
      line-height: 30px;
      font-size: 13px;
      color: $color-white;
      background: $icon-color;
      @include border-radius(3px);
      background-clip: padding-box;
      font-style: normal;
      font-family: 'Trade Gothic W01 Obl', sans-serif;
      white-space: nowrap;
      &:after {
        content: " ";
        position: absolute;
        top: 30px;
        right: 11px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 3px solid $icon-color;
        pointer-events: none;
      }
    }
    &:hover > span, &:focus > span {
      visibility: visible;
    }
  }
  &.field-validation-valid {
    background-color: green;
    display: none;
  }
}

.field-wrapper {
  input, textarea, select {
    &.error {
      border-color: $icon-color;
    }
  }
}

.valid ~ .field-validation-valid{
  display: block;
}

span{
  &.field-validation-error, &.field-validation-valid{
    select ~ &{ /* space for button */
      right:29px;
      -webkit-margin-end:12px;
    }
    textarea ~ &{ /* dropdown on top */
      top:15px;
      right:22px;
    }
    .image-field-wrapper &{ /* outside */
      top:15px;
      right:-25px;
    }
    .icon-field-wrapper &{  /* space for icon on right */
      right: 39px;
    }
  }
}

/* special narrower fields */
.check-radio-block{
  .field-wrapper{
    display: inline-block;
  }
  .field-wrapper span.field-validation-error{
    right: -20px;
  }
}

