//Colors
$color-grey: #EFEFEF;
$color-green: #20A5A1;
$color-green-darker: #00726C;
$color-black: #333333;
$color-red: #C1464F;
$color-red-darker: #9B1720;
$color-grey-border: #cccccc;
$color-grey-darker: #616161;


//Fonts
$font-raleway: 'Raleway', sans-serif;
$font-helvetica:  "Helvetica", Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-semibold: 700;
$font-weight-bold: 800;

//Assets
$image-footer-logo: '../images/f-logo.png';

//Margins
$margin-gutter: 10px;

//Mixins
@mixin transition($type: all, $time: 200ms) {
  -webkit-transition: ($type) $time ease-in;
  transition: ($type) $time ease-in;
}
@mixin clearfix(){
   &:after, &:before{
      content: " ";
      display: table;
   }
   &:after{
      clear: both;
   }
}