@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-pcdos');
	src:url('../fonts/icomoon.eot?#iefix-pcdos') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-pcdos') format('woff'),
		url('../fonts/icomoon.ttf?-pcdos') format('truetype'),
		url('../fonts/icomoon.svg?-pcdos#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\73";
}
.icon-heart:before {
	content: "\68";
}
.icon-download:before {
	content: "\64";
}
.icon-trashcan:before {
	content: "\74";
}
.icon-cancel:before {
	content: "\78";
}
.icon-eye:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\6c";
}
.icon-arrow-right:before {
	content: "\72";
}
.icon-images:before {
	content: "\69";
}
.icon-drawer:before {
	content: "\63";
}
.icon-tag:before {
	content: "\67";
}
.icon-download2:before {
	content: "\71";
}
.icon-cog2:before {
	content: "\77";
}
.icon-remove1:before {
	content: "\65";
}
.icon-remove2:before {
	content: "\75";
}
.icon-close:before {
	content: "\70";
}
.icon-plus:before {
	content: "\e601";
}
