/* line 2, ../scss/_global.scss */
body {
  background: #EFEFEF;
  min-width: 1024px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #333333; }

/* line 9, ../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 1px; }

/* line 14, ../scss/_global.scss */
h3 {
  font-size: 1.125rem; }

/* line 17, ../scss/_global.scss */
a {
  color: #20A5A1;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in; }
  /* line 21, ../scss/_global.scss */
  a:hover {
    color: #00726C; }

/* line 25, ../scss/_global.scss */
.btn {
  height: 34px;
  background: #20A5A1;
  line-height: 34px;
  vertical-align: middle;
  display: inline-block;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  /* line 39, ../scss/_global.scss */
  .btn span {
    font-size: 1.25rem;
    line-height: 34px;
    vertical-align: middle; }
  /* line 44, ../scss/_global.scss */
  .btn:hover {
    background: #00726C;
    color: #ffffff; }

/* line 49, ../scss/_global.scss */
.btn-close {
  width: 34px;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 100%;
  border: #333333 solid 1px;
  background: #333333;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  /* line 59, ../scss/_global.scss */
  .btn-close span {
    font-size: 1rem;
    color: #ffffff;
    line-height: 30px; }
  /* line 65, ../scss/_global.scss */
  .btn-close:hover {
    border-color: #20A5A1;
    color: #ffffff;
    background: #20A5A1; }

/* line 71, ../scss/_global.scss */
.btn-load {
  background: #ffffff;
  color: #20A5A1;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  /* line 77, ../scss/_global.scss */
  .btn-load:hover {
    background: #20A5A1; }

/* line 82, ../scss/_global.scss */
.page {
  min-height: 100%; }

/* line 85, ../scss/_global.scss */
.page-header {
  background: #fff;
  height: 80px; }
  /* line 88, ../scss/_global.scss */
  .page-header h1 {
    margin: 0;
    font-size: 1.125rem;
    line-height: 80px;
    vertical-align: middle;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    color: #20A5A1; }

/* line 99, ../scss/_global.scss */
.logo {
  display: block;
  width: 82.5%;
  height: 80px;
  background: #333333;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  /* line 105, ../scss/_global.scss */
  .logo img {
    display: block;
    margin: 0 20px 0;
    padding: 15px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 111, ../scss/_global.scss */
  .logo:hover {
    background: #000000; }

/* line 115, ../scss/_global.scss */
.page-nav {
  margin: 0 0 0 -5%;
  width: 112.8%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .page-nav:before, .page-nav:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .page-nav:after {
    clear: both; }
  /* line 126, ../scss/_global.scss */
  .page-nav a {
    display: block;
    height: 100%;
    float: left;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333333; }
    /* line 133, ../scss/_global.scss */
    .page-nav a:hover, .page-nav a.active {
      color: #20A5A1; }

/* line 138, ../scss/_global.scss */
.user-menu {
  margin: 17px 0 0 10px;
  font-size: 0.875rem;
  line-height: 1.5em; }
  /* line 142, ../scss/_global.scss */
  .user-menu span {
    margin: 0 10px 0 0;
    color: #333333; }
    /* line 145, ../scss/_global.scss */
    .user-menu span.icon-heart {
      color: #C1464F; }

/* line 150, ../scss/_global.scss */
.search-form {
  margin: 20px 0 0 -10px;
  width: 105%;
  padding: 0 20px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 155, ../scss/_global.scss */
  .search-form .search-field {
    width: 100%;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 37px;
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
    margin: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  /* line 167, ../scss/_global.scss */
  .search-form input[type="search"]:focus {
    background: #EFEFEF;
    border-color: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 176, ../scss/_global.scss */
.page-content {
  padding: 0 0 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 180, ../scss/_global.scss */
.content {
  margin-top: 30px; }

/* line 185, ../scss/_global.scss */
.thumb-block {
  background: #ffffff;
  height: 246px;
  margin-bottom: 10px;
  position: relative; }
  /* line 190, ../scss/_global.scss */
  .thumb-block .link-thumb {
    display: block;
    height: 100%;
    color: #333333; }
    /* line 194, ../scss/_global.scss */
    .thumb-block .link-thumb img {
      transform: scale(1);
      -ms-transform: scale(1);
      /* IE 9 */
      -moz-transform: scale(1);
      /* Firefox */
      -webkit-transform: scale(1);
      /* Safari and Chrome */
      -o-transform: scale(1);
      /* Opera */
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    /* line 203, ../scss/_global.scss */
    .thumb-block .link-thumb:hover img {
      transform: scale(0.98);
      -ms-transform: scale(0.98);
      /* IE 9 */
      -moz-transform: scale(0.98);
      /* Firefox */
      -webkit-transform: scale(0.98);
      /* Safari and Chrome */
      -o-transform: scale(0.98);
      /* Opera */ }
    /* line 210, ../scss/_global.scss */
    .thumb-block .link-thumb:hover .thumb:after {
      box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.7); }
  /* line 215, ../scss/_global.scss */
  .thumb-block .thumb {
    height: 180px;
    background: #333333;
    padding: 1px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; }
    /* line 222, ../scss/_global.scss */
    .thumb-block .thumb:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  /* line 234, ../scss/_global.scss */
  .thumb-block figure {
    margin-top: -160px;
    margin-left: -52px;
    outline: #008cba solid 1px;
    text-align: center;
    width: 350px;
    height: 500px;
    line-height: 500px;
    vertical-align: middle; }
    /* line 243, ../scss/_global.scss */
    .thumb-block figure img {
      min-height: 200px; }
  /* line 247, ../scss/_global.scss */
  .thumb-block .info {
    padding: 15px 15px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 251, ../scss/_global.scss */
  .thumb-block h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  /* line 261, ../scss/_global.scss */
  .thumb-block .votes {
    margin-top: 7px; }
  /* line 264, ../scss/_global.scss */
  .thumb-block .fav {
    position: absolute;
    right: 12px;
    bottom: 8px;
    color: #C7D1CE; }
    /* line 269, ../scss/_global.scss */
    .thumb-block .fav.marked {
      color: #C1464F; }

/* line 276, ../scss/_global.scss */
.votes {
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .votes:before, .votes:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .votes:after {
    clear: both; }
  /* line 278, ../scss/_global.scss */
  .votes span {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin: 0 2px 0 0;
    background: #EFEFEF; }
  /* line 288, ../scss/_global.scss */
  .votes.count-1 span {
    background: #20A5A1; }
  /* line 291, ../scss/_global.scss */
  .votes.count-1 span + span {
    background: #EFEFEF; }
  /* line 296, ../scss/_global.scss */
  .votes.count-2 span {
    background: #20A5A1; }
  /* line 299, ../scss/_global.scss */
  .votes.count-2 span + span + span {
    background: #EFEFEF; }
  /* line 304, ../scss/_global.scss */
  .votes.count-3 span {
    background: #20A5A1; }
  /* line 307, ../scss/_global.scss */
  .votes.count-3 span + span + span + span {
    background: #EFEFEF; }
  /* line 312, ../scss/_global.scss */
  .votes.count-4 span {
    background: #20A5A1; }
  /* line 315, ../scss/_global.scss */
  .votes.count-4 span + span + span + span + span {
    background: #EFEFEF; }
  /* line 320, ../scss/_global.scss */
  .votes.count-5 span {
    background: #20A5A1; }

/* line 326, ../scss/_global.scss */
.page-sidebar {
  padding: 35px 20px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 82.5%;
  background: #20A5A1;
  color: #ffffff; }
  /* line 332, ../scss/_global.scss */
  .page-sidebar h3 {
    margin: 0 0 15px;
    text-transform: uppercase; }
  /* line 336, ../scss/_global.scss */
  .page-sidebar a {
    color: #fff; }
    /* line 338, ../scss/_global.scss */
    .page-sidebar a:hover {
      color: #022B29; }

/* line 343, ../scss/_global.scss */
ul.side-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 347, ../scss/_global.scss */
  ul.side-menu li {
    padding-bottom: 15px; }
    /* line 349, ../scss/_global.scss */
    ul.side-menu li a {
      display: block; }
      /* line 351, ../scss/_global.scss */
      ul.side-menu li a.active {
        color: #333333; }

/* line 359, ../scss/_global.scss */
.page-footer {
  height: 85px;
  margin: -90px 0 0;
  border-bottom: #20A5A1 solid 5px; }
  /* line 363, ../scss/_global.scss */
  .page-footer .columns {
    height: 85px; }
  /* line 366, ../scss/_global.scss */
  .page-footer h6 {
    margin: 0;
    padding: 0 60px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
    background: url("../images/f-logo.png") 100% 100% no-repeat; }
    /* line 379, ../scss/_global.scss */
    .page-footer h6 strong {
      font-weight: 800; }

/* line 386, ../scss/_global.scss */
.modal-on {
  overflow: hidden; }
  /* line 387, ../scss/_global.scss */
  .modal-on body {
    overflow: hidden; }

/* line 392, ../scss/_global.scss */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  z-index: 999; }

/* line 403, ../scss/_global.scss */
.modal-photo .columns {
  height: 57px;
  margin-top: 25px;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: #cccccc solid 1px;
  border-right: #cccccc solid 1px;
  overflow: hidden; }
/* line 412, ../scss/_global.scss */
.modal-photo .modal-logo {
  width: 90px;
  height: 82px;
  margin: 0;
  border: none;
  text-align: center;
  padding: 0; }
  /* line 419, ../scss/_global.scss */
  .modal-photo .modal-logo a {
    display: block;
    height: 100%;
    background: #333333;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in; }
    /* line 424, ../scss/_global.scss */
    .modal-photo .modal-logo a:hover {
      background: #20A5A1; }
  /* line 428, ../scss/_global.scss */
  .modal-photo .modal-logo img {
    margin: 21px 0 0; }
/* line 433, ../scss/_global.scss */
.modal-photo .modal-title {
  width: 330px;
  padding: 0;
  margin-left: 20px; }
  /* line 437, ../scss/_global.scss */
  .modal-photo .modal-title h3 {
    margin: 0 15px 0 0;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.0em;
    white-space: nowrap;
    text-overflow: ellipsis; }
  /* line 446, ../scss/_global.scss */
  .modal-photo .modal-title .modal-tags {
    margin: 3px 15px 0 0;
    overflow: hidden;
    height: 29px;
    font-size: 0.8125rem;
    line-height: 1.1em; }
    /* line 452, ../scss/_global.scss */
    .modal-photo .modal-title .modal-tags a {
      margin-right: 5px; }
/* line 457, ../scss/_global.scss */
.modal-photo .modal-vote {
  width: 190px;
  overflow: visible;
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-vote:before, .modal-photo .modal-vote:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-vote:after {
    clear: both; }
  /* line 461, ../scss/_global.scss */
  .modal-photo .modal-vote .select-vote {
    display: block;
    float: left;
    width: 64px; }
    /* line 465, ../scss/_global.scss */
    .modal-photo .modal-vote .select-vote .select {
      display: block;
      height: 0;
      overflow: hidden;
      -webkit-transition: height 0.2s ease-in;
      transition: height 0.2s ease-in; }
      /* line 470, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a {
        display: block;
        height: 34px;
        background: #39B5AF;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 34px;
        vertical-align: middle;
        font-weight: 700;
        text-align: center;
        -webkit-transition: background 0.2s ease-in;
        transition: background 0.2s ease-in; }
        /* line 481, ../scss/_global.scss */
        .modal-photo .modal-vote .select-vote .select a:hover {
          background: #00726C; }
      /* line 485, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a {
        background: #57C9C0; }
      /* line 486, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a + a {
        background: #75D8CF; }
      /* line 487, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a + a + a {
        background: #98E5DC; }
      /* line 488, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a + a + a + a {
        background: #BEF4EC; }
    /* line 490, ../scss/_global.scss */
    .modal-photo .modal-vote .select-vote:hover .select {
      height: 170px; }
  /* line 494, ../scss/_global.scss */
  .modal-photo .modal-vote .btn-vote {
    display: block;
    height: 34px;
    background: #20A5A1;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 34px;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in; }
    /* line 506, ../scss/_global.scss */
    .modal-photo .modal-vote .btn-vote:hover {
      background: #00726C; }
  /* line 510, ../scss/_global.scss */
  .modal-photo .modal-vote .votes-count {
    float: left;
    margin-left: 20px; }
    /* line 513, ../scss/_global.scss */
    .modal-photo .modal-vote .votes-count .votes {
      margin-bottom: 8px; }
    /* line 516, ../scss/_global.scss */
    .modal-photo .modal-vote .votes-count > span {
      color: #20A5A1;
      font-size: 0.875rem; }
/* line 522, ../scss/_global.scss */
.modal-photo .modal-buttons {
  width: 220px; }
  /* line 524, ../scss/_global.scss */
  .modal-photo .modal-buttons .btn-fav {
    width: 34px;
    padding: 0;
    background: #616161;
    text-align: center;
    margin-right: 1px; }
    /* line 530, ../scss/_global.scss */
    .modal-photo .modal-buttons .btn-fav.marked {
      background: #C1464F; }
      /* line 532, ../scss/_global.scss */
      .modal-photo .modal-buttons .btn-fav.marked:hover {
        background: #9B1720; }
    /* line 536, ../scss/_global.scss */
    .modal-photo .modal-buttons .btn-fav:hover {
      background: #333333; }
  /* line 541, ../scss/_global.scss */
  .modal-photo .modal-buttons .btn-download span {
    margin-right: 4px;
    display: inline-block;
    margin-top: -3px; }
/* line 548, ../scss/_global.scss */
.modal-photo .modal-navigation {
  width: 120px;
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-navigation:before, .modal-photo .modal-navigation:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-navigation:after {
    clear: both; }
  /* line 551, ../scss/_global.scss */
  .modal-photo .modal-navigation .btn-prev, .modal-photo .modal-navigation .btn-next {
    width: 34px;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    border: #333333 solid 1px;
    background: #ffffff;
    color: #333333;
    -webkit-transition: border 0.2s ease-in;
    transition: border 0.2s ease-in; }
    /* line 561, ../scss/_global.scss */
    .modal-photo .modal-navigation .btn-prev span, .modal-photo .modal-navigation .btn-next span {
      color: #333333;
      line-height: 30px;
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in; }
    /* line 567, ../scss/_global.scss */
    .modal-photo .modal-navigation .btn-prev:hover, .modal-photo .modal-navigation .btn-next:hover {
      border-color: #20A5A1;
      color: #20A5A1; }
      /* line 570, ../scss/_global.scss */
      .modal-photo .modal-navigation .btn-prev:hover span, .modal-photo .modal-navigation .btn-next:hover span {
        color: #20A5A1; }
  /* line 575, ../scss/_global.scss */
  .modal-photo .modal-navigation .btn-prev {
    float: left; }
  /* line 578, ../scss/_global.scss */
  .modal-photo .modal-navigation .btn-next {
    float: right; }
/* line 582, ../scss/_global.scss */
.modal-photo .modal-close {
  border-right: none;
  width: 54px;
  padding-right: 0; }
  /* line 586, ../scss/_global.scss */
  .modal-photo .modal-close .btn-prev {
    float: left; }
  /* line 589, ../scss/_global.scss */
  .modal-photo .modal-close .btn-next {
    float: right; }
/* line 593, ../scss/_global.scss */
.modal-photo .modal-content {
  margin: 35px 0 0;
  text-align: center; }

/* line 600, ../scss/_global.scss */
.modal-edit {
  left: 50%;
  top: 10%;
  width: 500px;
  height: auto;
  margin-left: -250px; }
  /* line 606, ../scss/_global.scss */
  .modal-edit .modal-header {
    background: #333333;
    height: 50px;
    padding: 0 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff; }
    /* line 612, ../scss/_global.scss */
    .modal-edit .modal-header h3 {
      margin: 0;
      line-height: 50px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    /* line 620, ../scss/_global.scss */
    .modal-edit .modal-header .btn-close {
      position: absolute;
      right: 10px;
      top: 8px;
      background: #20A5A1; }
      /* line 625, ../scss/_global.scss */
      .modal-edit .modal-header .btn-close:hover {
        background: #ffffff;
        border-color: #ffffff; }
        /* line 628, ../scss/_global.scss */
        .modal-edit .modal-header .btn-close:hover span {
          color: #20A5A1; }
  /* line 634, ../scss/_global.scss */
  .modal-edit .modal-content {
    padding: 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* line 640, ../scss/_global.scss */
.controls {
  margin-top: -10px !important;
  margin-bottom: 20px !important; }
  /* line 644, ../scss/_global.scss */
  .controls .btn-plus span, .controls .btn-remove span, .controls .btn-download span {
    font-size: 0.875rem; }
  /* line 648, ../scss/_global.scss */
  .controls .btn-remove {
    background: #333333;
    margin-right: 10px; }
  /* line 652, ../scss/_global.scss */
  .controls .large-2-5 {
    width: 26.6%;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 657, ../scss/_global.scss */
  .controls .large-1-5 {
    width: 20%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* line 664, ../scss/_global.scss */
.grid {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: #cccccc solid 1px; }
  /* line 668, ../scss/_global.scss */
  .grid td {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: #cccccc solid 1px; }
  /* line 672, ../scss/_global.scss */
  .grid .td-controls {
    width: 100px;
    text-align: right; }
  /* line 676, ../scss/_global.scss */
  .grid .td-count {
    width: 75px; }
  /* line 679, ../scss/_global.scss */
  .grid .td-eye {
    width: 50px; }
    /* line 681, ../scss/_global.scss */
    .grid .td-eye a {
      color: #cccccc; }
      /* line 683, ../scss/_global.scss */
      .grid .td-eye a.active {
        color: #20A5A1; }
    /* line 687, ../scss/_global.scss */
    .grid .td-eye span {
      font-size: 1.375rem; }
  /* line 692, ../scss/_global.scss */
  .grid .td-title a {
    margin-right: 5px; }
  /* line 696, ../scss/_global.scss */
  .grid .td-categories {
    width: 150px; }
  /* line 699, ../scss/_global.scss */
  .grid .td-img {
    width: 93px; }
    /* line 701, ../scss/_global.scss */
    .grid .td-img a {
      display: block;
      border: #ffffff solid 3px;
      max-height: 45px;
      overflow: hidden; }
      /* line 706, ../scss/_global.scss */
      .grid .td-img a img {
        display: block;
        width: 83px; }

/* line 713, ../scss/_global.scss */
.tags-list {
  padding: 8px 0px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: #cccccc solid 1px;
  margin: 5px 0px 0 !important; }

/* line 721, ../scss/_global.scss */
form {
  margin: 0; }

/* line 724, ../scss/_global.scss */
.field-wrapper {
  position: relative;
  margin: 5px 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 729, ../scss/_global.scss */
label {
  font-weight: 400;
  color: #9C9C9C;
  font-size: 0.875rem; }

/* line 734, ../scss/_global.scss */
.text-field {
  height: 34px;
  line-height: 1.0em;
  border: #cccccc solid 1px;
  background: #ffffff;
  width: 100%;
  padding: 7px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 742, ../scss/_global.scss */
  .text-field:focus {
    border-color: #ffffff;
    box-shadow: none;
    outline: #20A5A1 solid 1px; }

/* line 748, ../scss/_global.scss */
input[type="checkbox"] {
  vertical-align: middle;
  margin: 0 0.5em 2px 0; }

/* line 752, ../scss/_global.scss */
.selectbox {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  vertical-align: middle;
  color: #333333;
  line-height: 28px;
  height: 28px;
  border: 1px solid #ffffff;
  padding: 3px 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  -moz-appearance: button;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background: #ffffff;
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -ms-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #ffffff 100%); }
  /* line 781, ../scss/_global.scss */
  .selectbox:focus {
    border-color: #20A5A1;
    box-shadow: none;
    outline: none; }

/* line 787, ../scss/_global.scss */
.select-wrapper {
  padding-right: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 790, ../scss/_global.scss */
  .select-wrapper .selectbox {
    border-color: #cccccc; }
    /* line 792, ../scss/_global.scss */
    .select-wrapper .selectbox:focus {
      border-color: #20A5A1;
      box-shadow: none;
      outline: none; }

/* line 803, ../scss/_global.scss */
ul.side-menu.settings span {
  float: right;
  font-size: 1rem; }

/* line 809, ../scss/_global.scss */
.fav-list .thumb-block {
  height: 220px;
  outline: #EFEFEF solid 3px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  /* line 813, ../scss/_global.scss */
  .fav-list .thumb-block .info {
    padding-top: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 817, ../scss/_global.scss */
  .fav-list .thumb-block.selected {
    outline: #C1464F solid 3px;
    background: #C1464F; }
    /* line 820, ../scss/_global.scss */
    .fav-list .thumb-block.selected h4 {
      color: #ffffff; }

/* line 827, ../scss/_global.scss */
.fav-controls {
  line-height: 34px;
  vertical-align: middle;
  font-size: 0.875rem; }

/* line 832, ../scss/_global.scss */
.fav-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #333333;
  padding: 5px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.8125rem; }
  /* line 842, ../scss/_global.scss */
  .fav-menu input[type="checkbox"] {
    margin: 0; }
  /* line 845, ../scss/_global.scss */
  .fav-menu a {
    position: absolute;
    right: 10px;
    top: 5px; }

/* BLOCK PAGE by Paulius ============================*/
/* line 852, ../scss/_global.scss */
.blocks-cnt .row .columns {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 0;
  padding-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

/* line 860, ../scss/_global.scss */
.blocks-cnt .row .column:first-child {
  padding-left: none; }

/* line 863, ../scss/_global.scss */
.green-block {
  height: 100%;
  background-color: #20a5a1;
  padding: 50px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin-top: 5px;
  font-family: "Helvetica", Arial, sans-serif; }
  /* line 871, ../scss/_global.scss */
  .green-block h2 {
    font-size: 32px;
    line-height: 41px;
    margin: 20px 0 20px;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: normal; }
  /* line 878, ../scss/_global.scss */
  .green-block p {
    line-height: 27px;
    font-size: 15px; }

/* line 883, ../scss/_global.scss */
.large-12 .green-block {
  min-height: 285px; }
  /* line 885, ../scss/_global.scss */
  .large-12 .green-block .image-cnt {
    float: left;
    padding-right: 45px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* line 892, ../scss/_global.scss */
.large-6 .image-cnt img {
  max-width: 100%; }
/* line 895, ../scss/_global.scss */
.large-6 .green-block {
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 900, ../scss/_global.scss */
.blocks-cnt .large-12 {
  height: 285px;
  overflow: hidden;
  position: relative; }
  /* line 904, ../scss/_global.scss */
  .blocks-cnt .large-12 .bx-slider > li {
    height: 285px; }

/* line 909, ../scss/_global.scss */
.blocks-cnt .large-6 {
  height: 335px;
  overflow: hidden;
  position: relative; }
  /* line 913, ../scss/_global.scss */
  .blocks-cnt .large-6 .bx-slider > li {
    height: 327px; }

/* line 917, ../scss/_global.scss */
.blocks-cnt .large-3 {
  height: 256px; }
  /* line 919, ../scss/_global.scss */
  .blocks-cnt .large-3 .bx-slider > li {
    height: 248px; }

/* line 923, ../scss/_global.scss */
.slider-block {
  height: 100%;
  background-color: #fff; }
  /* line 926, ../scss/_global.scss */
  .slider-block p {
    font-size: 15.5px;
    line-height: 28px;
    color: #333333;
    font-family: "Helvetica", Arial, sans-serif; }
  /* line 932, ../scss/_global.scss */
  .slider-block p:first-child {
    margin-top: 0; }
  /* line 935, ../scss/_global.scss */
  .slider-block .bx-slider {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0; }
    /* line 940, ../scss/_global.scss */
    .slider-block .bx-slider li {
      padding: 43px 43px 63px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      list-style: none; }
      /* line 946, ../scss/_global.scss */
      .slider-block .bx-slider li .slide-content {
        height: 100%;
        overflow: hidden; }
    /* line 951, ../scss/_global.scss */
    .slider-block .bx-slider li:first-child {
      display: block; }

/* line 957, ../scss/_global.scss */
.bx-slider.nonactive li {
  display: none;
  position: relative; }
/* line 961, ../scss/_global.scss */
.bx-slider.nonactive li:first-child {
  display: block; }

/* line 966, ../scss/_global.scss */
.bx-wrapper {
  position: relative;
  height: 100%; }
  /* line 969, ../scss/_global.scss */
  .bx-wrapper .bx-controls-direction {
    position: absolute;
    bottom: 26px;
    z-index: 10;
    left: 40px; }
    /* line 974, ../scss/_global.scss */
    .bx-wrapper .bx-controls-direction a {
      display: block;
      width: 36px;
      float: left;
      margin-right: 8px; }
    /* line 980, ../scss/_global.scss */
    .bx-wrapper .bx-controls-direction .bx-prev {
      width: 37px;
      line-height: 34px;
      overflow: hidden;
      padding: 0;
      text-align: center;
      border-radius: 50%;
      border: #333333 solid 1px;
      background: #ffffff;
      color: #333333; }
    /* line 991, ../scss/_global.scss */
    .bx-wrapper .bx-controls-direction .bx-prev:hover {
      border-color: #20A5A1;
      color: #20A5A1; }
    /* line 995, ../scss/_global.scss */
    .bx-wrapper .bx-controls-direction .bx-next {
      width: 37px;
      line-height: 34px;
      overflow: hidden;
      padding: 0;
      text-align: center;
      border-radius: 50%;
      border: #333333 solid 1px;
      background: #ffffff;
      color: #333333; }
    /* line 1006, ../scss/_global.scss */
    .bx-wrapper .bx-controls-direction .bx-next:hover {
      border-color: #20A5A1;
      color: #20A5A1; }

/* line 1013, ../scss/_global.scss */
.speed-links-block {
  position: relative; }
  /* line 1015, ../scss/_global.scss */
  .speed-links-block a {
    padding: 20px 20px 20px 75px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #333333;
    display: block;
    width: 100%;
    height: 77px;
    line-height: 34px;
    color: #fff;
    margin-top: 8px;
    font-size: 20px;
    font-family: "Helvetica", Arial, sans-serif; }
    /* line 1027, ../scss/_global.scss */
    .speed-links-block a span {
      position: absolute;
      left: 20px; }
  /* line 1032, ../scss/_global.scss */
  .speed-links-block a:hover {
    color: #20a5a1; }

/* line 1036, ../scss/_global.scss */
.speed-links-block:first-child a {
  margin-top: 0; }

/* line 1039, ../scss/_global.scss */
.question-block {
  background-color: #fff;
  height: 100%;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #808080;
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif; }
  /* line 1048, ../scss/_global.scss */
  .question-block .image-cnt {
    height: 62px;
    max-width: 100%;
    margin-bottom: 10px; }
    /* line 1052, ../scss/_global.scss */
    .question-block .image-cnt img {
      max-width: 100%;
      max-height: 100%; }
  /* line 1057, ../scss/_global.scss */
  .question-block h3 {
    font-size: 22px;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: normal;
    margin: 0 0 3px;
    color: #333; }
  /* line 1064, ../scss/_global.scss */
  .question-block p {
    color: #808080;
    line-height: 22px;
    margin: 2px 0; }
  /* line 1069, ../scss/_global.scss */
  .question-block a {
    font-size: 15px;
    line-height: 21px;
    display: block;
    text-align: center; }

/* BX Slider current example slide css*/
/* line 1077, ../scss/_global.scss */
.slide-logo {
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 100%;
  padding-left: 150px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  font-size: 22px; }
  /* line 1087, ../scss/_global.scss */
  .slide-logo span {
    padding-right: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* TEXT PAGE by Paulius ================================================*/
/* line 1093, ../scss/_global.scss */
.text-page {
  width: 845px;
  margin: 0 auto;
  padding: 30px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
  color: #333; }
  /* line 1100, ../scss/_global.scss */
  .text-page .content {
    margin-bottom: 100px;
    margin-top: 40px; }
  /* line 1104, ../scss/_global.scss */
  .text-page h1 {
    margin: 50px 0 13px;
    font-size: 26px;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: normal; }
  /* line 1110, ../scss/_global.scss */
  .text-page authors {
    font-size: 16px;
    margin-left: 2px; }
    /* line 1113, ../scss/_global.scss */
    .text-page authors strong {
      color: #20a5a1;
      font-weight: normal; }
  /* line 1118, ../scss/_global.scss */
  .text-page p {
    font-size: 15px;
    line-height: 28px;
    margin: 29px 0; }

/* line 1125, ../scss/_global.scss */
.row, .columns {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Profile section ================================================*/
/* line 1131, ../scss/_global.scss */
.profile-info {
  list-style-type: none;
  padding: 5px; }
  /* line 1134, ../scss/_global.scss */
  .profile-info li {
    border-bottom: 1px solid #cccccc;
    padding: 15px 0; }
    /* line 1137, ../scss/_global.scss */
    .profile-info li span {
      font-weight: bold;
      padding-right: 20px; }

/* line 1144, ../scss/_global.scss */
abbr[title] {
  border: none;
  color: #C1464F;
  font-weight: bold; }

/* line 1151, ../scss/_global.scss */
.js-edit-profile-form .field-validation-error {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 18px;
  height: 18px;
  background-color: #C1464F;
  border-radius: 100%;
  color: #fff; }
  /* line 1160, ../scss/_global.scss */
  .js-edit-profile-form .field-validation-error:after {
    content: "!";
    position: absolute;
    left: 7px;
    top: 2px; }
  /* line 1166, ../scss/_global.scss */
  .js-edit-profile-form .field-validation-error .validation-error {
    position: absolute;
    top: -38px;
    right: -9px;
    width: 150px;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    text-align: center;
    background: #333333;
    display: none !important; }
    /* line 1179, ../scss/_global.scss */
    .js-edit-profile-form .field-validation-error .validation-error:after {
      position: absolute;
      top: 95%;
      right: 10px;
      content: '';
      border-top: solid 8px #333333;
      border-left: solid 7px transparent;
      border-right: solid 7px transparent; }
  /* line 1190, ../scss/_global.scss */
  .js-edit-profile-form .field-validation-error:hover > .validation-error {
    display: block !important; }

/* line 1197, ../scss/_global.scss */
.success-user-message-container p {
  font-weight: bold;
  font-size: 22px;
  color: #20A5A1; }
